# Time Series with Pandas
## Helpful DatetimeIndex Attributes and Methods

In [1]:
import pandas as pd

In [7]:
stocks = pd.read_csv('data/stocks.csv', header=[0,1], index_col=[0], parse_dates=[0])
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.503574  41.856789  28.090706  92.406113  18.951757  23.801456
2010-01-04  6.604801  43.441975  27.933924  93.500313  18.965061  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.735643  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.728989  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.682440  23.778025

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526072  54.130001  32.25  130.899994  ...  32.27  132.410004
2010-01-04  7.643214  56.180000  32.07  132.449997  ...  32.50  131.179993
2010-01-05  7.656428  58.020000  31.99  130.850006  ...  32.07  131.679993
2010-01-06  7.534643  59.779999  31.82  130.000000  ...  31.90  130.679993
2010-01-07  7.520714  62.200001  31.83  129.550003  ...  31.77  129.869995

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4223400
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6155300
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  6841400
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5605300
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  5840600


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [8]:
close = stocks.loc[:, 'Close'].copy()
close.head()

                AAPL         BA    DIS         IBM         KO       MSFT
Date
2009-12-31  7.526072  54.130001  32.25  130.899994  28.500000  30.480000
2010-01-04  7.643214  56.180000  32.07  132.449997  28.520000  30.950001
2010-01-05  7.656428  58.020000  31.99  130.850006  28.174999  30.959999
2010-01-06  7.534643  59.779999  31.82  130.000000  28.165001  30.770000
2010-01-07  7.520714  62.200001  31.83  129.550003  28.094999  30.450001

In [9]:
close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2289 entries, 2009-12-31 to 2019-02-05
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2289 non-null   float64
 1   BA      2289 non-null   float64
 2   DIS     2289 non-null   float64
 3   IBM     2289 non-null   float64
 4   KO      2289 non-null   float64
 5   MSFT    2289 non-null   float64
dtypes: float64(6)
memory usage: 125.2 KB

In [11]:
close.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-04', '2019-02-05'],
              dtype='datetime64[ns]', name='Date', length=2289, freq=None)

In [12]:
close.index.day

Int64Index([31,  4,  5,  6,  7,  8, 11, 12, 13, 14,
            ...
            23, 24, 25, 28, 29, 30, 31,  1,  4,  5],
           dtype='int64', name='Date', length=2289)

In [13]:
close.index.month

Int64Index([12,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
             1,  1,  1,  1,  1,  1,  1,  2,  2,  2],
           dtype='int64', name='Date', length=2289)

In [14]:
close.index.year

Int64Index([2009, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010,
            ...
            2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
           dtype='int64', name='Date', length=2289)

In [16]:
close.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Monday', 'Tuesday'],
      dtype='object', name='Date', length=2289)

In [20]:
# Doesn't seem to work
#close.index.weekday_name

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [21]:
close.index.month_name()

Index(['December', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'January', 'January', 'January', 'January', 'January', 'January',
       'January', 'February', 'February', 'February'],
      dtype='object', name='Date', length=2289)

In [22]:
close.index.weekday

Int64Index([3, 0, 1, 2, 3, 4, 0, 1, 2, 3,
            ...
            2, 3, 4, 0, 1, 2, 3, 4, 0, 1],
           dtype='int64', name='Date', length=2289)

In [23]:
close.index.quarter

Int64Index([4, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
           dtype='int64', name='Date', length=2289)

In [24]:
close.index.days_in_month

Int64Index([31, 31, 31, 31, 31, 31, 31, 31, 31, 31,
            ...
            31, 31, 31, 31, 31, 31, 31, 28, 28, 28],
           dtype='int64', name='Date', length=2289)

In [25]:
close.index.week

C:\Users\xjayc\AppData\Local\Temp\ipykernel_36576\1832513683.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  close.index.week

Int64Index([53,  1,  1,  1,  1,  1,  2,  2,  2,  2,
            ...
             4,  4,  4,  5,  5,  5,  5,  5,  6,  6],
           dtype='int64', name='Date', length=2289)

In [26]:
close.index.weekofyear

C:\Users\xjayc\AppData\Local\Temp\ipykernel_36576\410976684.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  close.index.weekofyear

Int64Index([53,  1,  1,  1,  1,  1,  2,  2,  2,  2,
            ...
             4,  4,  4,  5,  5,  5,  5,  5,  6,  6],
           dtype='int64', name='Date', length=2289)

In [27]:
close.index.is_month_end

array([ True, False, False, ..., False, False, False])

In [29]:
close['Day'] = stocks.index.day_name()
close['Quarter'] = stocks.index.quarter
close.head()

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
Date,,,,,,,,
2009-12-31,7.526072,54.130001,32.25,130.899994,28.500000,30.480000,Thursday,4
2010-01-04,7.643214,56.180000,32.07,132.449997,28.520000,30.950001,Monday,1
2010-01-05,7.656428,58.020000,31.99,130.850006,28.174999,30.959999,Tuesday,1
2010-01-06,7.534643,59.779999,31.82,130.000000,28.165001,30.770000,Wednesday,1
2010-01-07,7.520714,62.200001,31.83,129.550003,28.094999,30.450001,Thursday,1